mixin answer-1()
    .answer__item.answer__item_1
        .answer__item-img
            img(src="@img/animal-1.png", alt="" draggable="false")
        .answer__item-text 
            p Никому в нашем лесу неинтересно мышеведение. Вымирающая наука. Сейчас всем только про гаджеты и соцсети интересно.
        .answer__item-var 
            .answer__item-var-right Внутренний локус
            .answer__item-var-wrong Внешний локус

mixin answer-2()
    .answer__item.answer__item_2
        .answer__item-img
            img(src="@img/animal-2.png", alt="" draggable="false")
        .answer__item-text.wrong 
            p Конкуренты могли распустить о нас гадкие слухи, чтобы мы не переманили аудиторию у них
        .answer__item-var 
            .answer__item-var-right Внутренний локус
            .answer__item-var-wrong Внешний локус

mixin answer-3()
    .answer__item.answer__item_3
        .answer__item-img
            img(src="@img/animal-3.png", alt="" draggable="false")
        .answer__item-text.right 
            p Мы указали мало плюсов, чтобы донести до всех, что мышеведение может быть полезно каждому! .
        .answer__item-var 
            .answer__item-var-right Внутренний локус
            .answer__item-var-wrong Внешний локус