mixin comments()
    .comments 
        p.comments__title Окно комментариев
        .comments__content
            .comments__green
                p ВНУТРЕННИЙ ЛК - Эта кошка молодец, она мыслит таким образом, что ищет СВОИ ошибки. Задается вопросом «что МЫ САМИ» сделали не так, а не ищет причины в других обстоятельствах. Похоже, шансы собрать аудиторию есть!
            .comments__red
                p ВНЕШНИЙ ЛК - Эти кошки винят внешние факторы. Это непродуктивный стиль мышления. Так они никогда не научатся видеть свою зону ответственности, свои сильные и слабые стороны, и не научат никого мореведению!
        .comments__pagination
            div.comments__pagination-dot.active
            div.comments__pagination-dot
            div.comments__pagination-dot
            div.comments__pagination-dot
        button(type="button").comments__btn.btn.btn-orange готово