mixin start()
    .start 
        .start__body.container 
            button(type="button").close
                img(src="@img/close.svg", alt="" draggable="false" loading="lazy")
            .start__left 
                .start__logo 
                    img(src="@img/logo.svg", alt="" draggable="false" loading="lazy")
                p.start__desc мини - игра
                h1.start__title «ЛЕТУЧИЕ КОШКИ»
                p.start__p Игра-комикс на определение локуса контроля (внутренний или внешний контроль над ситуацией).
                p.start__p.second Автор задания: Фаиса Рела
                .start__info
                    a(href="https://IZ-i.ru").start__button
                        img(src="@img/info.svg", alt="" draggable="false" loading="lazy")
                    a(href="https://IZ-i.ru").start__link IZ-i.ru
            .start__right 
                p.start__p.second #[span Локус контроля] – свойство личности приписывать свои неудачи и успехи либо внешним факторам (погода, везение, другие люди, судьба- злодейка), либо внутренним (я сам, моё отношение, мои действия)
                button(type="button").start__btn.btn.btn-orange Продолжить
                
                