doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            .main 
                .explanation.container 
                    .explanation__body
                        button(type="button").close
                            img(src="@img/close.svg", alt="" draggable="false" loading="lazy")
                        .explanation__row 
                            .explanation__content 
                                p.explanation__p Со всеми в жизни случаются как успехи, так и неудачи. Но главный вопрос — как человек осмысляет то, что произошло. Есть такое понятие — локус контроля. Локус, в переводе с латыни «locus», означает «место» (как в слове «локация»). Получается, «локус контроля» означает то место, где у человека располагается «контроль». Контроль внутри (я сам всё контролирую) – внутренний локус, контроль снаружи (это другие меня контролируют) – внешний локус.
                                p.explanation__p Если человек считает, что то, что с ним происходит — это его зона ответственности, результат его собственных действий, его положительных и отрицательных качеств — это продуктивный стиль мышления, #[span ВНУТРЕННИЙ локус контроля.] Он повышает шансы на успех в дальнейшем. А вот привычка объяснять свои неудачи внешними факторами (это из-за других, это из-за погоды, это начальник виноват) – это непродуктивный стиль мышления, #[span ВНЕШНИЙ локус контроля.] Он не помогает личности развиваться, ведь как будто всё вокруг зависит от других, а не от самого человека.
                                p.explanation__p Сперва прочитай комикс про летучих кошек, а затем определи, как выглядит внутренний локус контроля, а как внешний! 
                                button(type="button").explanation__btn.btn.btn-orange начать игру
                            .explanation__right 
                                .explanation__cloud 
                                    p.explanation__cloud-p Сперва прочитай комикс про летучих кошек,  а затем определи, как выглядит внутренний локус контроля, а как внешний
                                .explanation__img 
                                    img(src="", alt="" draggable="false" loading="lazy")
        script(src="js/app.min.js")